.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #bd1919;
  border-right: 1px solid #e03737;
  padding: 20px 10px;
  transition: width 0.3s, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #444;
  transition: all 0.3s;
}

.menu-item:hover {
  background: #750e5b;
  color:white;
}

.menu-item.active {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

/* Overlay (Mobile Mode) */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}

/* Mobile Sidebar */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
  }

  .sidebar.mobile-open {
    transform: translateX(0);
  }

  .sidebar-overlay {
    display: block;
  }

  .sidebar.collapsed {
    width: 220px;
  }
}
